 .flickity-button {
    
    background: transparent;
  }
  .flickity-button:hover {
      
    background: transparent;
    color: black;
  }
  
  .flickity-prev-next-button {
    width: 100px;
    height: 100px;
  }
  .flickity-button-icon {
    fill: white;
  }
  .flickity-button:disabled {
    display: none;
  }
      
  .carousel {
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    max-width: 580px;
    height: 400px;
    border-radius: 20%;
  }
  .carousel-cell {
    margin-top: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    float: right;
    max-width: 301px;
    width: 100%;
    height: 365px;
    border-radius: 15px;
    counter-increment: carousel-cell;
    transition: all .3s ease;
    opacity: 0.3;
    background: #b9b9b9;
    filter: blur(6px);
    align-items:center;
    text-align:center;
    
  }
    .carousel-cell.is-selected {
      filter: blur(0);
      opacity: 1;
      background: white ;
      transform: scale(1.1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
      
      /* name */
  .carousel-cell .n {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    color:black;
    counter-increment: carousel-cell;
  }
      
      /* button */
  .carousel-cell .b {
    cursor: pointer;
    margin: auto;
    width: 180px;
    padding: 1px;
    background: #028ff7;
    border: 1px solid #028ff7;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    text-align: center;
    counter-increment: carousel-cell;
    transition: all .3s ease;
  }
  
   /* picture */
  .carousel-cell .p {
    border-radius: 15px;
    width: 201px;
    height: 250px;
    counter-increment: carousel-cell;
  }
      
  .carousel-cell .b:hover {
    background: #028ff7;
    transform: scale(1.03);
    font-size: 16px;
  }
      
  .carousel-cell .b:active {
    background: white;
    color: green;
    transform: scale(0.9);
    font-size: 16px;
  }
      
  .carousel-cell .b-selected {
    cursor: pointer;
    margin: auto;
    width: 180px;
    padding: 1px;
    background: white;
    border: 1px solid green;
    border-radius: 15px;
    font-size: 15px;
    color: green;
    text-align: center;
    counter-increment: carousel-cell;
    transition: all .3s ease;
  }
      